<div class='text-center'>
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{contents}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <h2>Replies:</h2>
  {{#each replies as |reply|}}
    <p>{{reply.reply_contents}}</p>
    <p>Reply submitted by {{reply.user.name}} on {{format_date date_created}}</p>
  {{/each}}
  {{#if loggedIn}}
  <p>
    <button class='btn btn-primary' id='reply-btn'>Reply to this Post!</button>
  </p>
  <div class='col-md-6' id='reply-container' style='display: none;'>
    <form class='form new-reply-form'>
      <div class='form-group'>
        <label for='reply-contents'>reply:</label>
        <textarea class='form-input' id='reply-contents' name='reply-contents'></textarea>
      </div>
      <div class='form-group'>
        <button type='submit' class='btn btn-primary'>Submit Reply</button>
      </div>
    </form>
  </div>
</div>
{{/if}}
<script src='/js/post.js'></script>